# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List popular languages used in Data Science
* List popular libraries used in Data Science
* List open source tools used in Data Science 
* Perform some basic arithmetic operations

Some of the popular languages that Data Scientists use are:

1. Python

2. R

3. JavaScript

4. C++

5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas

2. NumPy

3. SciPy

4. TensorFlow

5. Pytorch

|Data Science Tools|
|------------------|
|Apache Spark|
|RStudio|
|Jupyter-Labs|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
(200)/60

3.3333333333333335

## Author
Arnav Bhukhmaria